body {
  background-color: rgb(21, 90, 87);
}
.navbar {
  width: 100%;
  background-color: #64a825;
  color: white;
  padding: 1px;
  position: fixed;
  top: 0;
  left: 0;
}
.katalogsatu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.katalogsatu img {
  width: 120px;
  height: 170px;
  margin-top: 150px;
  object-fit: cover;
}
.katalogdua {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.katalogdua img {
  width: 120px;
  height: 170px;
  margin-top: 120px;
  object-fit: cover;
}
