body {
  background-color: rgb(15, 13, 95);
}
h1 {
  color: white;
  text-align: center;
}
.gambar {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  left: 10px;
}
