.about {
    padding: 120px 20px;
    background: #ffffff;
}

.about-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.about-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #111827;
    font-family:'Times New Roman', Times, serif;
}

.about-desc {
    font-size: 20px;
    line-height: 1.8;
    color: #6b7280;
    margin-bottom: 16px;
    text-align: justify;
}