/* katalog dua */
.katalogdua {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 10px;
    margin-bottom: 300px;
    padding-bottom: 200px;
}
.katalogdua img {
    width: 150px;
    height: 210px;
    margin-top: 120px;
    object-fit: cover;
    cursor: pointer;
}

/* gambarenam */
.gambarenam{
    width: 150px;
    height: 210px;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 122px;
}
.gambarenam img{
    display: block;
    transition: 0.3s;
    object-fit: cover;
    border-bottom: #014164 2px solid ;
    border-top:  #014164 2px solid;
    border-left: #014164 2px solid;
    border-right: #014164 2px solid;
    border-radius: 10px;
    margin-top: -3px;
}
.gambarenam:hover {
    box-shadow: 0 0 15px #014164,   
                0 0 16px #014164,
                0 0 0px #014164;
    transform: scale(1.05); 
}
.gambarenam:hover .judulcover {
    opacity: 1;
}

/* gambartujuh */
.gambartujuh{
    width: 150px;
    height: 210px;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 122px;
}
.gambartujuh img{
    display: block;
    transition: 0.3s;
    object-fit: cover;
    border-bottom: #5125a8 2px solid ;
    border-top:  #5125a8 2px solid;
    border-left: #5125a8 2px solid;
    border-right: #5125a8 2px solid;
    border-radius: 10px;
    margin-top: -3px;
}
.gambartujuh:hover {
    box-shadow: 0 0 15px #5125a8,   
                0 0 16px #5125a8,
                0 0 0px #5125a8;
    transform: scale(1.05); 
}
.gambartujuh:hover .judulcover {
    opacity: 1;
}

/* gambardelapan */
.gambardelapan{
    width: 150px;
    height: 210px;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 122px;
}
.gambardelapan img{
    display: block;
    transition: 0.3s;
    object-fit: cover;
    border-bottom: #7b6d01 2px solid ;
    border-top:  #7b6d01 2px solid;
    border-left: #7b6d01 2px solid;
    border-right: #7b6d01 2px solid;
    border-radius: 10px;
    margin-top: -3px;
}
.gambardelapan:hover {
    box-shadow: 0 0 15px #7b6d01,   
                0 0 16px #7b6d01,
                0 0 0px #7b6d01;
    transform: scale(1.05); 
}
.gambardelapan:hover .judulcover {
    opacity: 1;
}

/* gambarsembilan */
.gambarsembilan{
    width: 150px;
    height: 210px;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 122px;
}
.gambarsembilan img{
    display: block;
    transition: 0.3s;
    object-fit: cover;
    border-bottom: #747474 2px solid ;
    border-top:  #747474 2px solid;
    border-left: #747474 2px solid;
    border-right: #747474 2px solid;
    border-radius: 10px;
    margin-top: -3px;
}
.gambarsembilan:hover {
    box-shadow: 0 0 15px #747474,   
                0 0 16px #747474,
                0 0 0px #747474;
    transform: scale(1.05); 
}
.gambarsembilan:hover .judulcover {
    opacity: 1;
}

/* gambarsepuluh */
.gambarsepuluh{
    width: 150px;
    height: 210px;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 122px;
}
.gambarsepuluh img{
    display: block;
    transition: 0.3s;
    object-fit: cover;
    border-bottom: #234304 2px solid ;
    border-top:  #234304 2px solid;
    border-left: #234304 2px solid;
    border-right: #234304 2px solid;
    border-radius: 10px;
    margin-top: -3px;
}
.gambarsepuluh:hover {
    box-shadow: 0 0 15px #234304,   
                0 0 16px #234304,
                0 0 0px #234304;
    transform: scale(1.05); 
}
.gambarsepuluh:hover .judulcover {
    opacity: 1;
}