html {
  scroll-behavior: smooth;
}
#home {
  scroll-margin-top: 800px;
}
#games {
    scroll-margin-top: 100px;
}

body{   
  background-color: #ffff;
  margin: 0;
}
.hero{
  width: 100%;
  min-height: 100vh;
  background:
    linear-gradient(
      rgba(0,0,0,0.20),
      rgba(0,0,0,0.35)
    ),
    url("../../gambar/jsretro.png") center left / cover no-repeat;
  background-size: cover;
  background-position: center 35%;
  background-repeat: no-repeat;
  background-position: center 10%;
}

/* katalog */
.katalogsatu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 110px;
}
.katalogsatu img{
  width: 150px;
  height: 210px;
  object-fit: cover;
  cursor: pointer;
}

/* judul */
.judul{
  font-size: 23px;
  margin-bottom: 20px;
  color: #111827;
  position: relative;
  top: 70px;
  text-align: center;
}

/* gambarsatu */
.gambarsatu{
  width: 150px;
  height: 210px;
  border-radius: 10px;
  transition: 0.3s;
}
.gambarsatu img{
  display: block;
  transition: 0.3s;
  object-fit: cover;
  border-bottom: #078834 2px solid ;
  border-top:  #078834 2px solid ;
  border-left: #078834 2px solid ;
  border-right: #078834 2px solid ;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.gambarsatu:hover {
  box-shadow: 0 0 15px #03712d,   
              0 0 16px #03712d,  
              0 0 0px #03712d;
  transform: scale(1.05); 
}
.judulcover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: -60px;
  color: #000;
  text-align: center;
  padding: 6px 0;
  opacity: 0;
  transition: 0.3s;
}
.gambarsatu:hover .judulcover {
    opacity: 1;
}

/* gambardua */
.gambardua{
  width: 150px;
  height: 210px;
  border-radius: 10px;
  transition: 0.3s;
}
.gambardua img{
  display: block;
  transition: 0.3s;
  object-fit: cover;
  border-bottom: #a45d06 2px solid ;
  border-top:  #a45d06 2px solid ;
  border-left: #a45d06 2px solid ;
  border-right: #a45d06 2px solid ;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.gambardua:hover {
  box-shadow: 0 0 15px #a45d06,   
              0 0 16px #a45d06,
              0 0 0px #a45d06;
  transform: scale(1.05); 
}
.gambardua:hover .judulcover {
    opacity: 1;
}

/* gambartiga*/
.gambartiga{
  width: 150px;
  height: 210px;
  border-radius: 10px;
  transition: 0.3s;
}
.gambartiga img{
  display: block;
  transition: 0.3s;
  object-fit: cover;
  border-bottom: #f2ff00 2px solid ;
  border-top:  #f2ff00 2px solid ;
  border-left: #f2ff00 2px solid ;
  border-right: #f2ff00 2px solid ;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.gambartiga:hover {
  box-shadow: 0 0 15px #f2ff00 ,   
              0 0 16px #f2ff00 ,
              0 0 0px #f2ff00 ;
  transform: scale(1.05); 
}
.gambartiga:hover .judulcover {
    opacity: 1;
}

/* gambarempat */
.gambarempat{
  width: 150px;
  height: 210px;
  border-radius: 10px;
  transition: 0.3s;
}
.gambarempat img{
  display: block;
  transition: 0.3s;
  object-fit: cover;
  border-bottom: #b1afaf 2px solid ;
  border-top:  #b1afaf 2px solid;
  border-left: #b1afaf 2px solid;
  border-right: #b1afaf 2px solid;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.gambarempat:hover {
  box-shadow: 0 0 15px #878585,   
              0 0 16px #878585,
              0 0 0px #878585;
  transform: scale(1.05); 
}
.gambarempat:hover .judulcover {
    opacity: 1;
}

/* gambarlima */
.gambarlima{
  width: 150px;
  height: 210px;
  border-radius: 10px;
  transition: 0.3s;
}
.gambarlima img{
  display: block;
  transition: 0.3s;
  object-fit: cover;
  border-bottom: #ff0000 2px solid ;
  border-top:  #ff0000 2px solid;
  border-left: #ff0000 2px solid;
  border-right: #ff0000 2px solid;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.gambarlima:hover {
  box-shadow: 0 0 15px #ff0000,   
              0 0 16px #ff0000,
              0 0 0px #ff0000;
  transform: scale(1.05); 
}
.gambarlima:hover .judulcover {
    opacity: 1;
}